<footer class="footer-section bottom-0 mt-5 py-5 bg-light ">
    <div class="container">
        <div class="row row-cols-{{section.settings.col_num}}">
            {% for block in section.blocks %}
            {% assign item = block.settings %}
            {% if block.type == "link_list" %}
            <div class="col">
                <h5>{{item.title}}</h5>
                {% assign footer_linklist = item.menu %}
                <ul class="list-unstyled text-small">
                    {% for link in linklists[footer_linklist].links %}
                        <li>
                            <a class="text-decoration-none" href="{{link.url}}">{{link.title | escape}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% else if block.type == 'text' %}
                <div class="col">
                    <!-- <img src="{{item.logo | img_url: 'medium'}}" alt="" class="mb-5 h-25"> -->
                    <h5>{{item.title}}</h5>
                    <p>{{item.description}}</p>
                </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</footer>


{{ 'bootstrap.min.js' | asset_url | script_tag }}
{{ 'application.js' | asset_url | script_tag }}

{% schema %}
{
   "name": "Footer",
  "settings": [
      {
         "type": "range",
         "id": "col_num",
         "default": 3,
         "min": 2,
         "max": 4,
         "label": "Number of Columns"
      }
  ],
   "blocks": [
        {
            "type": "link_list",
            "name": "Navigation",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "Quick Links"
                },
                {
                    "type": "link_list",
                    "id": "menu",
                    "label": "Menu"
                }
           ]
        },
        {
           "type": "text",
           "name": "Store Info",
          "settings": [
              {
                 "type": "image_picker",
                 "id": "logo",
                 "label": "Brand Logo"
              },
              {
                "type": "text",
                "id": "title",
                "label": "Heading",
                "default": "Store Heading"
              },
              {
                "type": "richtext",
                "id": "description",
                "label": "Description"
              }
          ]
        }
   ]
}
{% endschema %}