<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold ms-3" href="/">Lavana Mart</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse" 
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon outline-none"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav ms-auto fw-bold">
        {% for link in linklists.main-menu.links %} {% assign child_list_handle
        = link.title | handleize %} {% if linklists[child_list_handle].links !=
        blank %}
        <li class="nav-item">
          <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
        [{% for childlink in linklists[child_list_handle].links %}
        <li class="nav-item">
          <a class="nav-link" href="{{ childlink.url }}">{{
            childlink.title | escape
          }}</a>
        </li>
        {% endfor %}] {% else %}
        <li class="nav-item">
          <a class="nav-link {% if link.active %} active {% endif %}" href={{ link.url }}>{{ link.title }}</a>
        </li>
        {% endif %} {% endfor %}
        <li class="nav-item">
          <a class="nav-link" href="/cart">Cart</a>
        </li>
      </ul>
      <form method="GET" action="/search" role="search">
        <input placeholder="Search" class="w-75 form-control" type="text" name="q" value="{{search.terms | escape}}">
      </form>
    </div>
  </div>
</nav>
{% schema %} 
{ 
    "name": "Brand Logo",
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Brand Logo"
        }
    ],
    "presets": [
        {
            "category": "Brand Logo",
            "name": "Brand Logo"
        }
    ]
}
{% endschema %}