{% paginate search.results by 5 %}
<div class="container my-4">
  <div class="col-10 col-md-4 justify-content-center mx-auto">
    <form class="d-flex gap-2" action="/search" method="get" role="search">
      <input
        class="form-control shadow-none"
        type="search"
        name="q"
        value="{{ search.terms | escape }}"
      />
      <button class="btn btn-primary shadow-none" type="submit">Search</button>
    </form>
  </div>
</div>
 
<div class="row g-3 container my-5 mx-auto">
  {% if search.performed %} {% for item in search.results %}
    <div class="col-12 col-md-4 col-sm-6">
      <div class="card h-100 shadow">
        <div class="card-img-top">
          {% if item.featured_image %}
          <a
            href="{{ item.url | within: collection }}"
            title="{{ item.title | escape }}"
          >
            {{
              item.featured_image.src
                | img_url: "medium"
                | img_tag: item.featured_image.alt
            }}
          </a>
          {% endif %}
        </div>
        <div class="card-body">
          <h5>{{ item.title | link_to: item.url }}</h5>
          <p>{{ item.content | strip_html | truncatewords: 50 }}</p>
        </div>
      </div>
    </div>
  {% else %} <h5 class="text-center display-6">No Result</h5> {% endfor %} {% endif %}
</div>
<div class="row mx-auto container">
  <!-- pagination -->
  {% render 'pagination' paginate: paginate%}
</div>
{% endpaginate %}
